html, body{
    padding:0;
    margin:0;
    height:100%;
}

.directionsContainer{
    width:380px;
    height:100%;
    overflow-y:auto;
    float:left;
}

#myMap{
    position:relative;
    width: 50%;
}


.TruckData{
    width: 400px;
    height:200px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trucks h3{
    color: lightblue;
    font-size: 2rem;
}

.MappingDiv{
   width: 100%;
   height: 50%;
   display: flex;
   justify-content: space-around;
}
.trucks{
    display: flex;
    flex-direction: column;
}



.StatsViewer{
    display: flex;
    justify-content: space-evenly;
}



.Barchart{
    height: 3px;
    width: 200px;
   display: flex;
   
}
.Weight{
    background-color: red;
    height: 100%;
    width: 50%;
}
.Remainder{
    background-image: linear-gradient(to right, red , yellow);
    height: 100%;
    width: 50%;
}

.axisRed line{
    stroke: red;
  }
  
  .axisRed path{
    stroke: red;
  }
  
  .axis text{
    color: black;
  }  

  .axis{
      stroke: black;
      stroke-width: 1px;
      height: 1px;
      fill: transparent;
  }

  .WeightBarChart70
  {
        width: 70%;
      transition: 1s;
      background-image: linear-gradient(to right, darkgreen , lightgreen);
  }
  .WeightBarChart40
  {
    width: 40%;
    height: 100%;
    transition: 1s;
    background-image: linear-gradient(to right, darkgreen , lightgreen);
  }



  .StatsBoxes{
    overflow-x: hidden;
    padding: 20px;
    border: black;
    border-width: 2px;
  }
  
  .StatsBoxes p{
    font-weight: 300;
    font-family: sans-serif;
  } 

  StatsViewer p{
    color: #39875f;
    font-family: sans-serif;
  }

  
  .area {
   fill: url(#svgGradient);
   				
    stroke-width: 0px;	
  }