html, body{
    padding:0;
    margin:0;
    height:100%;
}

.directionsContainer{
    width:380px;
    height:100%;
    overflow-y:auto;
    float:left;
}

#myMap{
    position:relative;
    width: 50%;
}


.TruckData{
    width: 400px;
    height:300px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.TruckData h3{
    color: lightblue;
    font-size: 2rem;
}



.TruckData > h3 {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 2rem;
    line-height: 16px;
    font-weight: normal;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: lightblue;
}

.TruckData > h3::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}

.TruckData > h3:active::before {
    background-color: #000;
}

.TruckData > h3:hover::before, h3:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.MappingDiv{
   width: 100%;
   height: 50%;
   display: flex;
   justify-content: space-around;
}
.trucks{
    display: flex;
    flex-direction: column;
}

.StatsViewer{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

.Barchart{
    height: 3px;
    width: 200px;
   display: flex;
   
}
.Weight{
    background-color: red;
    height: 100%;
    width: 50%;
}
.Remainder{
    background-image: linear-gradient(to right, red , yellow);
    height: 100%;
    width: 50%;
}

.axisRed line{
    stroke: red;
  }
  
  .axisRed path{
    stroke: red;
  }
  
  .axis text{
    color: black;
  }  

  .axis{
      stroke: black;
      stroke-width: 1px;
      height: 1px;
      fill: transparent;
  }

  .WeightBarChart70
  {
        width: 70%;
      transition: 1s;
      background-image: linear-gradient(to right, darkgreen , lightgreen);
  }
  .WeightBarChart40
  {
    width: 40%;
    height: 100%;
    transition: 1s;
    background-image: linear-gradient(to right, darkgreen , lightgreen);
  }



  .StatsBoxes{
    overflow-x: hidden;
    padding: 0px;
    border: black;
    border-width: 2px;
    width: 10%;

  }
  
  .StatsBoxes p{
    font-weight: 300;
    font-family: sans-serif;
  } 

  StatsViewer p{
    color: #39875f;
    font-family: sans-serif;
  }

  
  .area {
   fill: url(#svgGradient);				
    stroke-width: 0px;	
  }